@using JaiVendas.Application.ViewModel.Customers
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var strip = false;
}
@model IEnumerable<CustomerSimplifyedViewModel>
<div class="row">
    <div class="col-md-12">
        <h4>Customer List</h4>
        <br />
    </div>
</div>
@** Error Message *@
@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <strong>Error:</strong><br/>
                @ViewBag.ErrorMessage
            </div>
        </div>
    </div>
}
@** /Error Message *@
<div class="row">
    <div class="col-md-6">
        <!-- Search -->
        <div class="row">
            <div class="col-md-10">
                <input id="txtSearch" class="form-control" type="text" name="search" placeholder="Type to search" value="@ViewBag.Search" />
            </div>
            <div class="col-md-2">
                <button id="btnSearch" class="btn btn-success float-right">Search</button>
            </div>
        </div>
        <!-- /Search -->
    </div>
    <div class="col-md-6">
        <a class="btn btn-success float-right" href="@Url.ActionLink("Add")">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Document Number</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(strip ? "table-secondary" : "") ">
                        <td>@item.Id</td>
                        <td>@item.CPF</td>
                        <td>@item.Name</td>
                        <td><a class="btn btn-info" href="@Url.ActionLink("Update")?id=@item.Id">Edit</a></td>
                        <td><a class="btn btn-danger" href="@Url.ActionLink("Delete")?id=@item.Id">Remove</a></td>
                    </tr>
                    strip = !strip;
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script language="javascript">
        $("#btnSearch").click(function () {
            window.location.href = '@Url.ActionLink("index", "customer")?search=' + $("#txtSearch").val();
        });
    </script>
}